SQS_ENDPOINT=http://localhost:9324
SQS_REGION=us-east-1
SQS_ACCOUNT_ID=000000000000
CALL_QUEUE_NAME=call_queue
SQS_QUEUE_URL=
SQS_AUTO_CREATE_QUEUE=true
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test